<div class='organization-info'>
  <div class='info-section'>
    <h3><i class='fas fa-shield-alt'></i> Información General</h3>
    <div class='info-grid'>
      <div class='info-item'>
        <label>Nombre:</label>
        <span>{{organization.name}}</span>
      </div>
      <div class='info-item'>
        <label>Subtítulo:</label>
        <span>{{#if organization.subtitle}}{{organization.subtitle}}{{else}}Sin subtítulo{{/if}}</span>
      </div>
    </div>
  </div>

  <div class='info-section'>
    <h3><i class='fas fa-chart-bar'></i> Estadísticas</h3>
    <div class='stats-display'>
      {{#each statsDisplay}}
        <div class='stat-box' data-tooltip='{{this.tooltip}}'>
          <div class='stat-value {{this.cssClass}}'>
            {{this.base}}
            {{#if this.showTotal}}({{this.total}}){{/if}}
          </div>
          <div class='stat-label'>{{this.label}}</div>
        </div>
      {{/each}}
    </div>

    {{#if activeModifiers.length}}
      <div class='modifiers-grid compact' style='margin-top: 1rem;'>
        {{#each activeModifiers}}
          <div
            class='modifier-compact {{this.borderClass}}'
            data-id='{{this.id}}'
            data-tooltip='<strong>{{this.name}}</strong><br/>{{this.system.description}}<br/><hr>Left Click: Send to Chat<br/>Right Click: Remove'
          >
            <img src='{{this.img}}' alt='{{this.name}}' class='modifier-icon-large' />
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class='info-section'>
    <h3><i class='fas fa-users'></i> Patrullas</h3>
    <div class='patrol-count'>
      <span class='count'>{{organization.patrols.length}}</span>
      <span class='label'>patrullas activas</span>
    </div>
  </div>
</div>