<div class="entity-row patrol-effect-template" data-effect-id="{{id}}" draggable="true" title="Arrastra este efecto a una patrulla para aplicarlo">
  <div class="entity-row__summary">
    <button type="button" class="entity-row__toggle" aria-expanded="false" aria-label="Expandir">
      <img class="entity-row__thumb" src="{{#if image}}{{image}}{{else}}icons/svg/aura.svg{{/if}}" alt="{{name}}" onerror="this.src='icons/svg/aura.svg'" />
    </button>
    <span class="entity-row__badge entity-row__badge--type-{{type}}">
      {{#if (eq type 'positive')}}Positivo{{/if}}
      {{#if (eq type 'negative')}}Negativo{{/if}}
      {{#if (eq type 'neutral')}}Neutral{{/if}}
    </span>
    <span class="entity-row__name">{{name}}</span>
    <div class="entity-row__actions">
      <button type="button" class="entity-row__btn edit-template-btn" title="Editar" data-effect-id="{{id}}">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="entity-row__btn entity-row__btn--danger delete-template-btn" title="Eliminar" data-effect-id="{{id}}">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="entity-row__detail" hidden>
    <div class="entity-row__detail-image">
      <img class="entity-row__detail-img" src="{{#if image}}{{image}}{{else}}icons/svg/aura.svg{{/if}}" alt="{{name}}" onerror="this.src='icons/svg/aura.svg'" />
    </div>
    <div class="entity-row__detail-body">
      <div class="entity-row__detail-title">{{name}}</div>
      {{#if statModifications.length}}
        <div class="entity-row__detail-badge">Modifica: {{statModifications.length}} estadísticas</div>
      {{/if}}
      {{#if description}}
        <p class="entity-row__detail-desc">{{description}}</p>
      {{/if}}
    </div>
  </div>
</div>