<div class="entity-row reputation-template" data-reputation-id="{{id}}" draggable="true" title="Arrastra esta reputación a una organización para asignarla">
  <div class="entity-row__summary">
    <button type="button" class="entity-row__toggle" aria-expanded="false" aria-label="Expandir">
      <img class="entity-row__thumb" src="{{#if image}}{{image}}{{else}}icons/svg/cowled.svg{{/if}}" alt="{{name}}" />
    </button>
    <span class="entity-row__badge entity-row__badge--level-{{level}}">{{levelLabel}}</span>
    <span class="entity-row__name">{{name}}</span>
    <div class="entity-row__actions">
      <button type="button" class="entity-row__btn send-to-chat-template-btn" title="Enviar al chat" data-reputation-id="{{id}}">
        <i class="fas fa-comment"></i>
      </button>
      <button type="button" class="entity-row__btn edit-template-btn" title="Editar">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="entity-row__btn duplicate-template-btn" title="Duplicar">
        <i class="fas fa-copy"></i>
      </button>
      <button type="button" class="entity-row__btn entity-row__btn--danger delete-template-btn" title="Eliminar">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="entity-row__detail" hidden>
    <div class="entity-row__detail-image">
      <img class="entity-row__detail-img" src="{{#if image}}{{image}}{{else}}icons/svg/cowled.svg{{/if}}" alt="{{name}}" />
    </div>
    <div class="entity-row__detail-body">
      <div class="entity-row__detail-title">{{name}}</div>
      <span class="entity-row__detail-badge entity-row__detail-badge--level-{{level}}">{{levelLabel}}</span>
      {{#if description}}
        <p class="entity-row__detail-desc">{{description}}</p>
      {{/if}}
    </div>
  </div>
</div>
