<form class='guard-modal-form'>
  <div class='guard-modal-row'>
    <label><i class='fas fa-tag'></i> Nombre del Recurso</label>
    <input
      type='text'
      name='name'
      value='{{name}}'
      placeholder='Nombre del recurso...'
      required
      maxlength='100'
    />
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-align-left'></i> Descripción</label>
    <textarea name='description' placeholder='Descripción opcional...'>{{description}}</textarea>
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-image'></i> Imagen</label>
    <div class='file-picker-wrapper'>
      <input
        type='text'
        id='resource-image'
        name='image'
        value='{{image}}'
        placeholder='Selecciona una imagen...'
      />
      <button
        type='button'
        class='file-picker-btn'
        data-type='imagevideo'
        data-target='resource-image'
        title='Seleccionar imagen'
      >
        <i class='fas fa-file-image'></i>
      </button>
    </div>
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-cubes'></i> Cantidad</label>
    <input
      type='number'
      name='quantity'
      value='{{quantity}}'
      min='0'
      max='999999'
      required
    />
  </div>

  <input type='hidden' name='organizationId' value='{{organizationId}}' />

  <p class='guard-modal-hint'>
    <i class='fas fa-info-circle'></i>
    {{#if isCreate}}
      Se creará un nuevo recurso asociado a la organización.
    {{else}}
      Se actualizará el recurso existente.
    {{/if}}
  </p>
</form>
