<form class="{{entityType}}-dialog-form">
    {{#each fields}}
        {{#if (eq this.type "text")}}
            <div class="form-group">
                <label for="{{../entityType}}-{{this.name}}">{{this.label}}{{#if this.required}} *{{/if}}</label>
                <input 
                    type="text" 
                    id="{{../entityType}}-{{this.name}}" 
                    name="{{this.name}}" 
                    value="{{this.value}}" 
                    placeholder="{{this.placeholder}}" 
                    {{#if this.required}}required{{/if}}
                />
            </div>
        {{/if}}

        {{#if (eq this.type "textarea")}}
            <div class="form-group">
                <label for="{{../entityType}}-{{this.name}}">{{this.label}}{{#if this.required}} *{{/if}}</label>
                <textarea 
                    id="{{../entityType}}-{{this.name}}" 
                    name="{{this.name}}" 
                    placeholder="{{this.placeholder}}" 
                    rows="{{this.rows}}" 
                    {{#if this.required}}required{{/if}}
                >{{this.value}}</textarea>
            </div>
        {{/if}}

        {{#if (eq this.type "number")}}
            <div class="form-group">
                <label for="{{../entityType}}-{{this.name}}">{{this.label}}{{#if this.required}} *{{/if}}</label>
                <input 
                    type="number" 
                    id="{{../entityType}}-{{this.name}}" 
                    name="{{this.name}}" 
                    value="{{this.value}}" 
                    min="{{this.min}}" 
                    max="{{this.max}}" 
                    {{#if this.required}}required{{/if}}
                />
            </div>
        {{/if}}

        {{#if (eq this.type "file")}}
            <div class="form-group">
                <label for="{{../entityType}}-{{this.name}}">{{this.label}}{{#if this.required}} *{{/if}}</label>
                <div class="file-picker-container">
                    <input 
                        type="text" 
                        id="{{../entityType}}-{{this.name}}" 
                        name="{{this.name}}" 
                        value="{{this.value}}" 
                        placeholder="{{this.placeholder}}" 
                        {{#if this.required}}required{{/if}}
                    />
                    <button 
                        type="button" 
                        class="file-picker-btn" 
                        data-target="{{../entityType}}-{{this.name}}" 
                        data-file-type="{{this.fileType}}"
                    >
                        <i class="fas fa-folder"></i>
                    </button>
                </div>
            </div>
        {{/if}}

        {{#if (eq this.type "select")}}
            <div class="form-group">
                <label for="{{../entityType}}-{{this.name}}">{{this.label}}{{#if this.required}} *{{/if}}</label>
                <select id="{{../entityType}}-{{this.name}}" name="{{this.name}}" {{#if this.required}}required{{/if}}>
                    {{#each this.options}}
                        <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
                            {{this.label}}
                        </option>
                    {{/each}}
                </select>
            </div>
        {{/if}}

        {{#if (eq this.type "checkbox")}}
            <div class="form-group">
                <label class="checkbox-label">
                    <input 
                        type="checkbox" 
                        id="{{../entityType}}-{{this.name}}" 
                        name="{{this.name}}" 
                        {{#if this.value}}checked{{/if}}
                    />
                    {{this.label}}
                </label>
            </div>
        {{/if}}
    {{/each}}

    <input type="hidden" name="contextId" value="{{contextId}}" />
    {{#if entityId}}
        <input type="hidden" name="entityId" value="{{entityId}}" />
    {{/if}}
</form>
