<form class='guard-modal-form' data-form-scope='guard-organization'>
  <div class='guard-modal-row'>
    <label><i class='fas fa-shield-alt'></i> Nombre de la Organización *</label>
    <input
      type='text'
      name='name'
      value='{{name}}'
      placeholder='ej: Guardia de la Ciudad'
      required
    />
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-tag'></i> Subtítulo</label>
    <input
      type='text'
      name='subtitle'
      value='{{subtitle}}'
      placeholder='ej: Protectores del Reino'
    />
  </div>

  <h4 style="color:#f3c267;font-family:'Cinzel',serif;margin:0.5rem 0 0;">Estadísticas Base</h4>
  <div class='guard-modal-split'>
    <div class='guard-modal-row'>
      <label>Robustismo</label>
      <input
        type='number'
        name='robustismo'
        value='{{baseStats.robustismo}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
    <div class='guard-modal-row'>
      <label>Analítica</label>
      <input
        type='number'
        name='analitica'
        value='{{baseStats.analitica}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
  </div>
  <div class='guard-modal-split'>
    <div class='guard-modal-row'>
      <label>Subterfugio</label>
      <input
        type='number'
        name='subterfugio'
        value='{{baseStats.subterfugio}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
    <div class='guard-modal-row'>
      <label>Elocuencia</label>
      <input
        type='number'
        name='elocuencia'
        value='{{baseStats.elocuencia}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
  </div>

  <p class='guard-modal-hint'>* Campos requeridos. Estadísticas de
    {{minStat}}
    a
    {{maxStat}}, modificables por modificadores.</p>
</form>