<form class='guard-modal-form' data-form-scope='guard-organization'>
  <div class='guard-modal-row'>
    <label><i class='fas fa-shield-alt'></i> Nombre de la Organización *</label>
    <input
      type='text'
      name='name'
      value='{{name}}'
      placeholder='ej: Guardia de la Ciudad'
      required
    />
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-tag'></i> Subtítulo</label>
    <input
      type='text'
      name='subtitle'
      value='{{subtitle}}'
      placeholder='ej: Protectores del Reino'
    />
  </div>

  <h4 style="color:#f3c267;font-family:'Cinzel',serif;margin:0.5rem 0 0;">Estadísticas Base</h4>
  <div class='guard-modal-split'>
    <div class='guard-modal-row'>
      <label>Agilidad</label>
      <input
        type='number'
        name='agility'
        value='{{baseStats.agility}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
    <div class='guard-modal-row'>
      <label>Fuerza</label>
      <input
        type='number'
        name='strength'
        value='{{baseStats.strength}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
  </div>
  <div class='guard-modal-split'>
    <div class='guard-modal-row'>
      <label>Destreza</label>
      <input
        type='number'
        name='finesse'
        value='{{baseStats.finesse}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
    <div class='guard-modal-row'>
      <label>Instinto</label>
      <input
        type='number'
        name='instinct'
        value='{{baseStats.instinct}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
  </div>
  <div class='guard-modal-split'>
    <div class='guard-modal-row'>
      <label>Presencia</label>
      <input
        type='number'
        name='presence'
        value='{{baseStats.presence}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
    <div class='guard-modal-row'>
      <label>Conocimiento</label>
      <input
        type='number'
        name='knowledge'
        value='{{baseStats.knowledge}}'
        min='{{minStat}}'
        max='{{maxStat}}'
        required
      />
    </div>
  </div>

  <p class='guard-modal-hint'>* Campos requeridos. Estadísticas de
    {{minStat}}
    a
    {{maxStat}}, modificables por modificadores.</p>
</form>