<div class='officer-warehouse-dialog'>
  <div class='warehouse-header'>
    <h2>
      <i class='fas fa-user-shield'></i>
      Almacén de Oficiales
    </h2>
    {{#if isGM}}
    <button type='button' class='add-officer-btn'>
      <i class='fas fa-plus'></i>
      Nuevo Oficial
    </button>
    {{/if}}
  </div>

  <div class='officers-list'>
    {{#each officers}}
      <div class='officer-card' data-officer-id='{{this.id}}' draggable='true'>
        <div class='officer-card-top'>
          <div class='officer-avatar'>
            <img src='{{this.actorImg}}' alt='{{this.actorName}}' />
          </div>
          <div class='officer-info'>
            <div class='officer-name'>{{this.actorName}}</div>
            <div class='officer-title'>{{this.title}}</div>
            {{#if ../isGM}}
            <div class='officer-visibility'>
              {{#if this.visibleToPlayers}}
              <span class='visibility-badge visible'><i class='fas fa-eye'></i> Visible</span>
              {{else}}
              <span class='visibility-badge hidden'><i class='fas fa-eye-slash'></i> Oculto</span>
              {{/if}}
            </div>
            {{/if}}
          </div>
          <div class='officer-actions'>
            {{#if ../isGM}}
            <button
              type='button'
              class='edit-officer-btn icon-btn'
              title='Editar'
              data-officer-id='{{this.id}}'
            >
              <i class='fas fa-edit'></i>
            </button>
            <button
              type='button'
              class='delete-officer-btn icon-btn icon-btn-danger'
              title='Eliminar'
              data-officer-id='{{this.id}}'
            >
              <i class='fas fa-trash'></i>
            </button>
            {{/if}}
          </div>
        </div>

        {{#if this.skills.length}}
        <div class='officer-skills-preview'>
          <div class='preview-label'><i class='fas fa-bolt'></i> Habilidades</div>
          {{#each this.skills}}
          <div class='officer-skill-row'>
            {{#if this.image}}
            <img src='{{this.image}}' alt='{{this.name}}' class='skill-preview-img' />
            {{else}}
            <span class='skill-preview-icon'><i class='fas fa-bolt'></i></span>
            {{/if}}
            <span class='skill-preview-name'>{{this.name}}</span>
            <span class='skill-preview-cost'><i class='fas fa-heart'></i> {{this.hopeCost}}</span>
          </div>
          {{/each}}
        </div>
        {{/if}}

        {{#if (or this.pros.length this.cons.length)}}
        <div class='officer-traits-preview'>
          {{#if this.pros.length}}
          <div class='traits-preview-col'>
            <div class='preview-label pros-label'><i class='fas fa-plus-circle'></i> Pros</div>
            {{#each this.pros}}
            <div class='trait-preview-item pro-item'>{{this.title}}</div>
            {{/each}}
          </div>
          {{/if}}
          {{#if this.cons.length}}
          <div class='traits-preview-col'>
            <div class='preview-label cons-label'><i class='fas fa-minus-circle'></i> Cons</div>
            {{#each this.cons}}
            <div class='trait-preview-item con-item'>{{this.title}}</div>
            {{/each}}
          </div>
          {{/if}}
        </div>
        {{/if}}
      </div>
    {{else}}
      <p class='empty-state'>No hay oficiales creados aún</p>
    {{/each}}
  </div>
</div>
